<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.arena.stadium">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stadium">
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".MoreActivity"
            android:exported="false" />
        <activity
            android:name=".CompetitionActivity"
            android:exported="false" />
        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Stadium" />
        <activity
            android:name=".SmsActivity"
            android:exported="false" />
        <activity
            android:name=".NumberActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LanguageActivity"
            android:exported="true"
            android:theme="@style/AppThemeLanguage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-x1ELnxxRgZLyFZh_1G_lfhY1a7UQgKM" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>